name: Playwright Tests

on:
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v4

      # Setup Node
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      # Setup pnpm (official way)
      - uses: pnpm/action-setup@v4
        with:
          version: 9

      # Install dependencies
      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      # Install Playwright browsers
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      # Run test
      - name: Run Playwright tests
        run: pnpm exec playwright test tests/work.spec.ts --workers=1

      # Upload report
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30